body{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */     
    margin: 0;
}


/*#096668*/

#menu{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    height: 1600px;
    text-align: center;
    box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.3);
    margin: -45px 0 0 0
}

.logo{
    width:250px;
    width: 250px;
    border-radius: 50%;
    padding: 20px 0 0 0
}

h1{
    font-size: 1.8rem;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

h2{
    font-size: 1.5rem;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

a{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: whitesmoke;
    display: flex;
    padding: 1rem 0;
    flex-direction: column;
    transition: 0.5s;
    letter-spacing: 3px;
}

a:hover{
    background-color: rgb(28, 28, 28);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(28, 28, 28);
    box-shadow: 0 0 25px rgb(28, 28, 28);
    box-shadow: 0 0 50px rgb(28, 28, 28);
    box-shadow: 0 0 200px rgb(28, 28, 28);
}

a span{
    position: absolute;

}

header{
    float: left;
}

.info01{
   background: #44A08D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
    color: whitesmoke;
    margin: 2rem 2rem 1rem 24rem;
    padding: 1.4rem;
    border-radius: 30px;
    text-align: center;
}

.info02{
   background: #44A08D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: whitesmoke;
    margin: 2rem 2rem 1rem 10rem;
    padding: 2rem;
    border-radius: 30px;
    width: 250px;
    height: 250px;
    text-align: center;
}

.info03{
   background: #44A08D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: whitesmoke;
    margin: 2rem 2rem 1rem 10rem;
    padding: 1.4rem;
    border-radius: 30px;
    width: 250px;
    height: 250px;
}

.info04{
   background: #44A08D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: whitesmoke;
    margin: 2rem 2rem 1rem 10rem;
    padding: 1.4rem;
    border-radius: 30px;
    width: 250px;
    height: 250px;
}

.info05{
   background: #44A08D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: whitesmoke;
    margin: 2rem 2rem 1rem 10rem;
    padding: 1.4rem;
    border-radius: 30px;
    width: 250px;
    height: 250px;
}

.info06{
   background: #44A08D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: whitesmoke;
    margin: 2rem 2rem 1rem 10rem;
    padding: 1.4rem;
    border-radius: 30px;
    width: 250px;
    height: 250px;
}


.info08{
   background: #44A08D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: whitesmoke;
    margin: 2rem 2rem 1rem 10rem;
    padding: 1.4rem;
    border-radius: 30px;
    width: 250px;
    height: 250px;
    text-align: center;
}


#conteudo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h3{
    font-size: 1.9rem;
    text-align:center;
    font-family:'Montserrat', sans-serif;
    text-shadow: 3px 3px 3px 5px;
}

footer{
    background-color: #536976;
    margin: 0px;
    padding: 0.5rem;
    text-align: center;
    clear: both;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

#video{
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
}